
/* modal defaul styling from w3schools as bootstrap clashed with original functionality */

/* styling for the modal login */

body {
	overflow-x: hidden;
    overflow-y: hidden;
}

.modal-backdrop {
	background-color: #59656F!important;
}
.modal-content {
	width: 50%!important;
	left: 25%;
	height: 30%;
	margin-top: 5%;
	border-color: #1D1E2C;
}

#userform {
	padding: 5px;
	text-align: center;
}

.form-group {
	width: 90%;
	margin-left: 5%;
	margin-right: auto;
}

#submit-username {
	width: 50%;
	background-color:#9C528B;
	border-color: #9C528B;
}

#submit-username:hover {
	background-color:#1d1e2c;
	border-color: #1d1e2c;
}

#display-username {
	overflow-wrap: break-word;
	
}

h5 {
	margin-block-end: 0px;
	margin-top: 0.5em;
}

.wrapper {
	height: 100vh;
}
.test-container {
	 display: grid;
}


.chat-window {
	height: 100vh;
	width: 100vw;
	
}
/* .center-modal {
	text-align: center;
} */


/* styling for the header */



#closebtn {
	display: none;
}


.topbar {
	margin-top: 1rem;
}

#menuBar {
	 display: none;
}


/* this needs to be adjusted to reflect media size */

#mySidebar {
  	position: fixed;
	z-index: 999;
	left:0;
	background-color: #1D1E2C;
	height: 100%;
	max-height:100%;
	color:#FFFFFF;
	width: unset;
	
}

.container {
	padding-left: 0px!important;
	margin-left: 0;
}



.sidebar-top {
	list-style-type: none;
	padding: 2em;
	border-bottom: 1px solid #59656f;
}

.sidebar-item {
	width: 100%;
}

#channel-input {
	display: inline-block;
}

.channel-input {
	width: 75%;
	height: 2.25em;
}

.channel-input:focus {
	border-color: orange;
}

#submit-channel {
	border-radius: 10%;
	background-color: #9c528b;
	color: #FFFFFF;
	border-style: none!important;
	height: 2.25em;
	width: 2.25em;
}

#sidebar-channels {
	list-style-type: none;
	padding:1em;
	margin-left: 1.5em;
	font-size: larger;
}

#sidebar-channels > li {
	margin-bottom:0.2em;
}
.chat-section-title {
	margin-left: 1.5em;
	font-size: x-large;
	 }

/* styling for chat body */

.chat-type {
	position: fixed;
	height: 100px;
	bottom:0;
	margin-left: 0;
	width: 100%;
	padding-top: 1.5rem;
	padding-left: 300px;
	background-color: white;
	border-top: 2px solid #59656f;
}
#submit-message {
border-radius: 10%;
	background-color: #9c528b;
	color: #FFFFFF;
	border-style: none!important;
	height: 2rem;
	width: 2rem;
	
}

#new_message_form {
	margin-left: 0;
	margin-top: 0;
	display: flex;
}

    #new_message {
    width:80%;
    resize: none;
    height:2rem;
    margin-right: 2px;
    }



#channel-link > a{
	color: white ;
}


#chat-window-scroll {
	height: 100vh;
	background-color: white;
	overflow: auto;
	padding-left: 284px;
}


#messages {
	margin-left: 0px;
	padding: 0;
	list-style: none;
	padding-bottom: 5%;
}

.message {
	padding: 0.75rem;
	width: 100%;

}

.delete {
	visibility: hidden;
	padding:  0 0 0 5rem;
	
}

.delete:active {
	color: red;
}

.odd {
	border-bottom: 1px solid #59656f;
}

.even {
	border-bottom: 1px solid #59656f;
}

.message_details {
	display: contents;
}



.username_message {
	margin-top: 0;
	margin-bottom: 0;
}

.timestamp_message {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1rem;
}

@media only screen and (max-width: 992px){ 

	#menuBar {
		display: contents;
        float: left;
        font-size: 35px;
        cursor:pointer;
        padding-left: 10px;
	}


	#closebtn {
  		display: block;
		float:right;
		margin-right: 1rem;
		color:white;
		font-size: 20px;
	}
	#openbtn {
		padding-left: 10px;
		color: white;
		background-color: #1D1E2C;
	}

	

	#mySidebar {

	position: fixed;
	
	left:0;
	background-color: #1D1E2C;
	height: 100%;
	max-height:100%;
	color:#FFFFFF;
	width: 0;
	z-index: 999;
	top:0;
	
	overflow-y: auto;
	}

	.chat-type {
		padding-left: 10%;
	}

	#chat-window-scroll { 
		padding-left: 0;
	}

 }



