<!DOCTYPE html>
<html>
    <head>
        <script>
    
        document.addEventListener('DOMContentLoaded', () => {
  
            loginForm = document.getElementById('userform');

            if (localStorage.getItem("username") != null) {
                const username = localStorage.getItem("username");
                console.log( "username in localStorage:", username);
                loginForm.username.value = username;
                window.location.href = "/home";

            }


            loginForm.addEventListener('submit', event => {
                event.preventDefault();
                let username = loginForm.username.value;
                localStorage.setItem("username", username);
                 
                loginForm.submit();

                
            });

        });
</script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class='container'>
	<h1>Input a username!</h1>

	<form id="userform" action = '/' method = 'post' class ='form user-form'>
		<input type='text' class='userForm' id="username" name="username" placeholder="Input Username">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<h2 id='tester'></h2>
</div>

</body>
</html>