<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

        
        <script>
    
        document.addEventListener('DOMContentLoaded', () => {

        //connect to websocket (pulled from src5 code)
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        //load socket 

        userForm = document.getElementById("userform");
        channelForm = document.getElementById("channel-input");
        messageForm = document.getElementById("new_message_form");

        /*function setEntryEvent(socket, channel_name) {

            username = localStorage.getItem("username");
            console.log('entering the setEntry function for', channel_name);
            document.querySelectorAll('a').forEach(a => {
                a.onclick = () => {
                    console.log('this click worked for', channel_name , 'for' , username);
                    //const channel_name = data.channel_name;
                    socket.emit('join channel', {'username':username,'channel_name':channel_name});
                    //localStorage.setItem('current_channel',channel_name);
                    //loadMessages(channel_name);
                   // getChatMessageLog(channel_name);
                };
            });
        }*/

        function addChannelToList(socket, channel_name) {
            console.log('this is the channel name', channel_name)
            
            const li = document.createElement('li');
            //const channel_name = data.channel_name;
            li.chn;
            li.onclick = function() {
                //console.log('this click worked for', channel_name);
                username = localStorage.getItem("username");
                socket.emit('join channel', {'username':username,'channel_name':channel_name});
                localStorage.setItem("current_channel", channel_name);
            }

            li.innerHTML = '<a class="channel-link" href="#">#' + channel_name + '</a>';
            document.querySelector("#sidebar-channels").append(li);
            
         } 


         function addMessage(username, channel_name, timestamp, data) {
            message_display = document.querySelector("#messages");
            //console.log("the add message function")
            //console.log;
            const li = document.createElement('li');
            li.classList.add("message");
            dis_username = username;
            
            dis_timestamp = timestamp;

            li.innerHTML = '<div class="message_details">' + '<h5 class="username_message">' + dis_username + '</h5>' + '<p class="timestamp_message">' + dis_timestamp + '</p>' + '</div>' + '<div class="message_body">' + data.messages + '</div>';
            message_display.appendChild(li);

            updateMessagesScroll();

         }

         function loadMessages(socket, channel_name, data) {
            console.log("entered the load messages function 1");
           
            removeMessages();
            //dictionary = data.messages;
            //console.log(dictionary);
            //console.log('entered loadMessages function');
            for (messages of data["messages"]) {
               // console.log("entered the for loop");
                let timestamp = convertTimestamp(messages.ts);
                addMessage(messages.username, channel_name, timestamp, {"messages": messages.messages});
                updateMessagesScroll();
            }

         } 
        
        function convertTimestamp(timestamp) {

            let ts = timestamp;

            var date = new Date(ts * 1000);
    // Hours part from the timestamp
            var hours = date.getHours();
        // Minutes part from the timestamp
            var minutes = "0" + date.getMinutes();
        // Seconds part from the timestamp
           // var seconds = "0" + date.getSeconds();

           if (hours>12) {
                var time_teller = "PM";
           }

           else {
                var time_teller = 'AM';
           };


            var formattedTime = hours + ':' + minutes.substr(-2) + time_teller;
            return formattedTime;
        }

        function updateMessagesScroll(){
            var element = document.querySelector("#chat-message-log");
            element.scrollTop = element.scrollHeight;
            }
         //this function is how you can keep the messages from other channels from appearing in the newly loaded channel
        function removeMessages() {
            // Remove all messages
            var message_display = document.querySelector("#messages");
            message_display.innerHTML = '';
           /* while (message_display.firstChild) {
            message_display.removeChild(message_display.firstChild);
            }
            } */ }

           
         socket.on('connect', () => {

            
            //upon connect giving the modal button emit activity 
            //if the username is not in local storage display modal
            if (localStorage.getItem("username") != null) {


                $(document).ready(function(){
                    $("#myModal").modal('hide');
                }); 

                const username = localStorage.getItem("username");
                console.log('we have this username', username);
                socket.emit("load data", {"username": username});
          
                
            }

            else {

                $(document).ready(function(){
                    $("#myModal").modal('show');
                }); 

                userForm.addEventListener('submit', event => {
                    //event.preventDefault();
                    let username = userForm.username.value;
                    localStorage.setItem("username", username);
                    console.log("username is: ", username);
                    userForm.submit();

                    socket.emit("add user", {"username": username});

                });

            };

            //adding in a new channel 
            
            channelForm.addEventListener('submit', event => {

        
                console.log('clicked the add button')
                const channel_name = channelForm.channel.value;
                
                //channelForm.submit();

                socket.emit("add channel", {"channel_name": channel_name, "username": localStorage.getItem("username")});

                event.stopImmediatePropagation();
                event.preventDefault();
                //document.querySelector('#sidebar-channels').append(li);
            });

            //add a message
            //message to pull in timestamp and username
            messageForm.addEventListener('submit', event => {
                const message = messageForm.message.value;
                const username =  localStorage.getItem("username");
                const current_channel = localStorage.getItem("current_channel");
                var timestamp = Date.now();
                socket.emit("add message", {"message": message, "username": username, "channel_name": current_channel, "timestamp": timestamp});
                event.stopImmediatePropagation();
                event.preventDefault();
            });


        
            }); //end of connect

            //loading of relevant data for the user
         socket.on('user load', data => {

            document.getElementById("display-username").innerHTML = "Welcome, " + data.username;

            socket.emit("load data", {'username': data.username});

         });


//function to apply click function on all channels


      /*   socket.on('announce channel', data => {
            console.log("entering the socket emit", data.channel_name)
            var channel_name = data.channel_name;
            addChannelToList(socket, channel_name);
            //setEntryEvent(socket, channel_name);
         }); */

         
         socket.on('available channels', data => {
            //this will keep the entire list from repopulating and only display the 'newest'
            document.getElementById("display-username").innerHTML = "Welcome, " + data.username;
            console.log('entered the available channels socket');
            list_channels = data.list_channels;
            const channel_ul = document.querySelector('#sidebar-channels');

            while (channel_ul.firstChild) {
                    channel_ul.removeChild(channel_ul.firstChild);
                };

            for (channel_name of data.list_channels) {  
                addChannelToList(socket, channel_name);
            }


            if (localStorage.getItem("current_channel") != null) {
                    current_channel = localStorage.getItem("current_channel");
                    console.log("it is true that this channel was logged");
                    username = localStorage.getItem("username");
                    socket.emit("join channel", {"username": username, "channel_name": current_channel})
                }

            else {

                console.log("we did not have this channel before");
                    
                }



            
            

            }); //end of socket.on(available channels)

         socket.on("user joined", data => {
            console.log('entered user joined function');

            username = data.username;
            channel_name = data.channel_name;
            //localStorage.setItem("current_channel", channel_name);
            timestamp = data.timestamp;
            join_message = data.join_message;
            //console.log(join_message);

            addMessage(username, channel_name, timestamp, {"messages": join_message});
            loadMessages(socket, channel_name, data);
            
         });

         socket.on("send message", data => {
            console.log('entered the send message function');
            username = data.username;
            message = data.message;
            timestamp = data.timestamp;
            addMessage(username, channel_name, timestamp, {"messages": message});
            
         });


        });
    </script>
</head>

<body>

<div class='container'>
    <!-- Create the modal for pop-up sign in -->
    <div id='myModal' class='modal'>
        <div class="modal-content">
            <form id="userform">
                <h5 class='center-modal'> Welcome to Mack! </h5>
                <p class='center-modal'> Please enter a username to begin... </p>
                <div class="form-group">
                <input type='text' class='form-control' placeholder='Enter a username here' name='username' data-set='username'>
            </div>
                <button id='submit-username' type='submit' class='btn btn-primary center-modal'>Submit</button>
            </form>
        </div>
    </div>

    <div class='wrapper'>
    <!-- creating the header to display username and such -->
        <div class='sidebar-menu'>
            <ul class='sidebar-top'>
                    
            <li class='sidebar-item'>
                <h3 id='display-username'></h3>
            </li>
            <li class='sidebar-item'>
                <form id='channel-input'>
                    <input type='text' class='channel-input' name='channel' data-set='channel' id='channel' placeholder="Add a channel">
                    <button id='submit-channel' type='submit'>+</button>
                </form>
            </li>
            </ul>

            <h6 class='chat-section-title'>Public Channels</h6>
            <ul id='sidebar-channels'>
                    <!--channels will go here -->        
            </ul>
        </div>


        <div class = 'chat-window' id='chat-window-scroll'>
                <div id='chat-message-log' class='chat-log'>
                    <!--- all of the messages will appear here -->
                    <ul id='messages' class='log'>
                        <!-- messages will go here -->
                    </ul>
                </div>

        </div>


        <div class ='chat-type'>
                <form id="new_message_form">
                    <textarea class='chat-box' name='message' id='new_message' type ='text' placeholder="type your message here"></textarea>
                    <button id='submit-message' class='chat-box' type='submit'>Send</button>

            </form>
        </div>
    </div>  

</div>


</body>
</html>